# Everything and anything that's secret goes in here.
# Run build-secrets.sh to create secrets.des3 for version control 
# Run build-secrets.sh to decode secrets.des3 into secrets.py
Mendeley_key = <Mendeley_key>
PLoS_key = <PLoS_key>
Slideshare_key = <Slideshare_key>
Slideshare_secret = <Slideshare_secret>
Topsy_key = <Topsy_key>

