BeautifulSoup==3.2.1
CouchDB==0.8
Flask==0.7.2
Flask-Login==0.1.2
Flask-WTF==0.6
gunicorn==0.14.3
Jinja2==2.6
Logbook==0.3
WTForms==1.0.1
Werkzeug==0.8.3
analytics-python==0.4.2
certifi==0.0.8
chardet==1.0.1
distribute==0.6.10
iso8601==0.1.4
lxml==2.3.4
newrelic==1.9.0.21
nose==1.1.2
oauthlib==0.1.3
procname==0.3
psycopg2==2.4.6
pyasn1==0.1.3
pybtex==0.16
pylibmc==1.2.2
pyparsing==1.5.0
python-dateutil==1.5
python-memcached==1.48
pytz==2012c
redis==2.4.13
rednose==0.3.3
requests==0.13.0
rsa==3.0.1
shortuuid==0.2
simplejson==2.5.2
times==0.4
wsgiref==0.1.2
