<!DOCTYPE html>
<html>
    <head>
        <title>{{ report.action }} interaction '{{ report.name }}'</title>
        <meta http-equiv="Content-Type" content="text/html; charset=MacRoman">
    </head>
    <body>
        <h1>Report for {{ report.action }} interaction '{{ report.name }}'</h1>
        <ul>
           {% for key, value in report.iteritems() %}
           <li id="{{ key }}"><span class="key">{{ key }}:</span><span class="value">{{ value }}</span></li>
           {% endfor %}
        </ul>
    </body>
</html>
