<li class="item" id="{{item.id}}">
    <h4><span class="genre">{{ item.genre }}</span>{{ item.tiid }}</h4>

    <div class="biblio">
        {%- if item.biblio.data -%}
            {% include item.genre ~  "_biblio.html" %}
        {%- endif -%}
    </div>

    <ul class="metrics">
        {%- for metric_name, metric in item.metrics.iteritems() -%}
        {%- if metric.values and metric.static_meta -%}
        {% set metric_snap =  metric['values']|dictsort|reverse|first %}
        <li>
            <a href="{{ metric['static_meta']['provenance_url']}}">
                <span class="last-update">{{ metric_snap|first }}</span>
                <span class="metric-value">{{ metric_snap|last }}</span>

                <span class="metric-name-img">
                    <img src="{{ metric['static_meta']['icon'] }}" width="16" height="16" border="0">
                    <span class="metric-name">{{ metric['static_meta']['provider'] }} {{ metric['static_meta']['display_name'] }}</span>
                </span>
            </a>
        </li>
        {%- endif -%}
        {%- endfor -%}
    </ul>
</li>